# SF Salaries Exercise

** Import pandas as pd.**

In [3]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [4]:
x=pd.read_csv("Salaries.csv")  #Loading Csv file from Jupyter Notebook

** Check the head of the DataFrame. **

In [5]:
x.head()    #Show first 5 Rows

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
x.info()       #Use .info to get columns information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [7]:
x["BasePay"].mean()   #to get The mean of the column "BasePay"

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [9]:
x["OvertimePay"].max()       #To get the maximum value in the column "OvertimePay"

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [14]:
x[x["EmployeeName"]=="JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [15]:
x[x["EmployeeName"]=='JOSEPH DRISCOLL']['TotalPayBenefits']
# check if the index in "EmployeeName" column = "JOSEPH DRISCOLL"
#Then access The index of "TotalPayBenefits"

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [20]:
h=x["TotalPayBenefits"].max() #Get The maximum value at "TotalPayBenefits" column and assign it in a variable
x[x['TotalPayBenefits']==h] #Access the row of "TotalPayBenefits" highest value

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [21]:
l=x["TotalPayBenefits"].min() #Get The minimum value at "TotalPayBenefits" column and assign it in a variable
x[x['TotalPayBenefits']==l]   #Access the row of "TotalPayBenefits" least value

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [30]:
#All Data i have is exceed 2011-2014
y= x.groupby('Year')    #group all Data with the same "Year" values
b=y["BasePay"]          #Index "BasePay" column
b.mean()             #Get Mean of its values

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [32]:
u=x["JobTitle"]         #Get "JobTitle" column 
u.nunique()             #Get number of unique values

2159

** What are the top 5 most common jobs? **

In [36]:
dessending=x["JobTitle"].value_counts() #Count each value repeatition in the "JobTitle" column in dessending osder
dessending.head()             #View Top 5 values

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [75]:
once=x[x['Year']==2013]
app=once["JobTitle"].value_counts()
#app.tail(203) 
#202 had got by tring upper values such as. 203 and the jobs was twice repeated beginning to appear ,such i stopped at least 202 rows from tail 

rows=app.tail(202)
rows.count()

#Another Solution: not completed :( 
#once=x[x["JobTitle"].value_counts()==1].sum()
#once

#1) get Job Title of each value of repeatition =1 
#2) get s

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [76]:
def words(string):  
    w=0
    for i in len(string):
        if string[i]==" ":
            w+=1
    return w

c=0
for i in words(x[x["JobTitle"])):
    n=x["JobTitle"].split()
    x[n[i]=="Chief"]
    c+=1
c

TypeError: 'int' object is not iterable

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!